@model QLSK.Database.Event

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayStart" class="control-label"></label>
                <input asp-for="DayStart" class="form-control" />
                <span asp-validation-for="DayStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayEnd" class="control-label"></label>
                <input asp-for="DayEnd" class="form-control" />
                <span asp-validation-for="DayEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Require" class="control-label"></label>
                <input asp-for="Require" class="form-control" />
                <span asp-validation-for="Require" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeEvent" class="control-label"></label>
                <input asp-for="TypeEvent" class="form-control" />
                <span asp-validation-for="TypeEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
